.login-view
    width: 100%
    height: 100%
    display: flex
    flex-direction: column
    &__header
        height: 90px
        padding: 0 40px
        display: flex
        justify-content: space-between
    &__logo-wrapper
        display: flex
        align-items: center
        font-size: 24px
        color: white
        font-weight: bold
    &__body
        width: 100%
        // height: calc(100% - 90px)
        display: flex
        justify-content: center
        // align-items: center
        padding-top: 40px
    &__form-wrapper
        width: 400px
        display: flex
        justify-content: center
        background-color: rgb(255, 255, 255)
        border-radius: 24px
        padding: 24px 52px 32px
    &__form
        width: 100%
        display: flex
        flex-direction: column
        align-items: center
    &__form-title
        margin: 0px 0px 32px
        overflow: hidden
        color: rgb(33, 33, 33)
        font-weight: bold
        font-size: 20px
    &__form-input
        width: 100%
    &__validate-list
        width: 100%
        display: flex
        flex-direction: column
        padding: 0 20px
    &__validate-group
        display: flex
        align-items: center
        &:not(:last-child)
            margin-bottom: 8px
    &__validate-group-icon
        margin-right: 8px
        display: flex
        align-items: center
